/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


 .table {
  //  border: 1px solid white;
    .th {
     text-align: center;
   }
   th {
     background-color: black;
     color: white;
     padding: 8px;
     border-color: white;
   }
   .td {
     border: 2px solid white;
   }
   tr:nth-child(even) {
     background-color: #d9d9d9;
     border-color: white;
   }

   tr:nth-child(odd) {
     background-color: #f2f2f2;
     border-color: white;
   }

   tr:hover {
     background-color: #ecc6d9;
   }
 }

 fieldset {
    border: 4px groove #d9d9d9 !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 2em 1.5em 0 !important;
}

legend {
    width: auto !important;
    margin-top: 10px !important;
    border-bottom: none !important;
    padding: 0 12px 0 12px !important;
    margin-bottom: 10px !important;
    font-size: 1.5em !important;
    font-weight: bold !important;
    text-align: left !important;
}

.jumbotron.container-fluid {
  width: 95%;
  height: 90%;
}
